body {
  margin: 10px;
  background-color: #8c7d8e;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #202223;
}

#title {
  color: #1691db;
}

#container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#card-container {
  padding: 0;
}

.card-category {
  color: #1691db;
}

.card:nth-child(1) .card-detail {
  display: flex;
  flex-direction: column-reverse;
}

.card:nth-child(1) .card-image {
  width: 100%;
  max-width: 400px;
}

.card-image {
  width: 140px;
  display: inline;
}

.card-headline {
  display: inline;
}

.card-detail {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-direction: row-reverse;
}

.card {
  display: flex;
  flex-direction: column;
}

#title-seperator {
  border-bottom: 1px solid #1691db;
  margin-top: 10px;
}

.seperator {
  border-bottom: 1px solid #dddddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-standfirst {
  display: none;
}

@media (min-width: 1024px) {
  .card-standfirst {
    display: block;
    margin: 0;
    color: #606669;
    font-size: smaller;
  }

  .card-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  .card-headline {
    width: 100%;
  }

  .card-image,
  .card-standfirst {
    width: 50%;
  }

  #card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .card:nth-child(1) {
    grid-row: span 2;
  }

  .card:nth-child(1) .card-image {
    max-width: 400px;
  }

  .card:nth-child(1) .card-standfirst {
    display: none;
  }

  .card-image {
    max-width: 150px;
  }
}
